<% include ./partials/header.ejs %>

<h1>LOGIN</h1>

<form action="/login" method=POST>
  <input type="text" name="username" placeholder="USERNAME">
  <input type="text" name="password" placeholder="PASSWORD">
  <input type="submit" value="LOGIN">
</form>

<% include ./partials/footer.ejs %>
